.container {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
}

.guard-duties-list {
    flex: 2; 
    max-width: 700px; 
}

.guard-duty {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px; 
    background-color: #f9f9f9;
}

.note-form {
    flex: 1; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 25px; 
    background-color: #f9f9f9;
    max-width: 600px; 
}

.note-form h2 {
    margin-bottom: 15px; 
    font-size: 1.5em; 
}

.note-form textarea {
    width: 100%;
    height: 150px; 
    padding: 15px; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    resize: vertical;
    margin-bottom: 15px; 
}

.note-form button {
    padding: 15px 25px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em; 
    min-width: 300px; 
}

.note-form button:hover {
    background-color: #0056b3;
}

.add-note-button {
    background-color: #828282; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.add-note-button:hover {
    background-color: #333333; 
}

.add-note-button:focus {
    outline: none; 
}
