.user-calendar-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 20px; 
  padding: 0 200px; 
}

.user-card {
  grid-column: 1 / 2; 
}

.calendar-container {
  grid-column: 2 / 3; 
}

.selected-user-container {
  grid-column: 3 / 4; 
}

.user-card, .calendar-container {
  padding: 10px; 
  background: #f9f9f9; 
  border: 1px solid #ddd; 
}
.selected-user-container{
  padding: 10px;
}
.calendar-guard-duty {
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd; 
  text-align: center;
}
.user-card-body {
  margin: 0;
}
